.header {
  position: fixed;
  top: 0;
}

.section__main {
  width: 100%;
  padding: 200px 0 160px;
  background: url("../images/bg_main1.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.section__main .section__main-border {
  width: 450px;
  height: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 7px solid rgba(255, 255, 255, 0.7);
}

.section__main .section__main-box {
  position: relative;
  height: 100%;
  padding: 100px 0;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#80ffffff,endColorStr=#80ffffff)";
  zoom: 1;
}

.section__main .section__main-box > strong {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.section__main .section__main-box > strong > img {
  width: 100%;
}

.section__main .section__main-box > p {
  text-align: center;
  font-size: 13.5px;
  font-style: italic;
  color: #333;
}

.section__main .section__main-box > ul {
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.section__main .section__main-box > ul > li {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
}

.section__intro {
  padding: 100px 0;
  background-color: #eee;
}

.section__intro .section__box {
  overflow: hidden;
  position: relative;
}

.section__box {
  max-width: 1100px;
  margin: 0 auto;
}

.section__intro .section__box .section__column:last-child {
  position: relative;
  width: 500px;
  height: 100%;
  padding-top: 50px;
  padding-left: 60px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}

.section__intro .section__box .section__column:first-child {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.section__intro .section__box .section__column:first-child > img {
  width: 100%;
}

.section__intro .section__box .section__column:first-child > strong {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-size: 72px;
}

.section__box h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 100;
  color: #333;
}

.section__box h2 > span {
  display: block;
  position: absolute;
  bottom: 7px;
  width: 100%;
  height: 5px;
  background-color: rgba(239, 236, 233, 0.8);
}

.section__intro .section__box .section__column > p {
  margin-bottom: 35px;
  font-family: "Nanum Square", sans-serif;
  font-weight: 400;
  color: #5d5d5d;
  line-height: 1.5;
}

.section__intro .section__box .section__column > p > span {
  display: block;
}

.section__intro .section__box:after {
  display: block;
  clear: both;
  content: "";
}

.section__img {
  margin: 100px auto;
  padding: 100px;
  background: url("../images/bg_skills.jpg") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section__white {
  padding: 40px;
  padding-bottom: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}

.section__white > ul:after {
  display: block;
  clear: both;
  content: "";
}

.section__white > ul {
  margin-bottom: 20px;
}

.section__white > ul > li {
  float: left;
  width: 30.3%;
  margin-left: 3%;
  text-align: left;
}

.section__white > ul > li:first-child {
  margin-left: 0;
}

.section__white > ul > li > em {
  display: block;
  padding-bottom: 15px;
  font-family: "Nanum Square", sans-serif;
  text-align: right;
  color: #424242;
  font-size: 22px;
  border-bottom: 1px solid #000;
}

.section__white > ul > li > p {
  margin-top: 20px;
  line-height: 1.5;
  color: #666;
  font-weight: 200;
  font-size: 14px;
}

.section__white > ul > li > p > span {
  display: block;
}

.section__prdf {
  padding: 70px 0 80px;
  background: url("../images/bg_prdfBox.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.section__prdf .section__box:after {
  display: block;
  clear: both;
  content: "";
}

.section__prdf .section__box > h2 {
  color: #fff;
}

.section__prdf .section__box h2 > span {
  background-color: rgba(168, 168, 168, 0.8);
}

.button__list {
  float: left;
  width: 220px;
}

.section__prdf button {
  position: relative;
  width: 100%;
  padding: 19.1px 0;
  background: #434343;
  filter: grayscale(1);
}

.section__prdf button > img {
  width: 100%;
}

.section__prdf .button__layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.section__prdf .button__box {
  position: relative;
  height: 100%;
  border: 1px solid #fff;
}

.section__prdf .button__box > p {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  width: 100%;
  color: #fff;
}

.button__cont {
  float: left;
  width: 880px;
  padding: 15px 0;
  background-color: rgba(255, 255, 255, 0.6);
  *zoom: 1;
}

.button__cont:after {
  display: block;
  clear: both;
  content: "";
}

.button__cont .button__cont-img,
.button__cont .button__cont-box {
  float: left;
}

.section__prdf .button__cont .button__cont-img {
  width: 60%;
  margin-right: 1%;
}

.button__cont .button__cont-img > img {
  width: 100%;
}

.button__cont .button__cont-box {
  width: 34%;
}

.button__cont .button__cont-box > strong {
  display: block;
  margin: 25px 0 20px;
  font-size: 22px;
  color: #1a9191;
}

.button__cont .button__cont-box > ul > li {
  margin-top: 15px;
  color: #424242;
}

.button__cont .button__cont-box > ul > li > em {
  font-weight: 500;
  color: #424242;
}

.button__cont .button__cont-box > ul > li > span {
  display: inline-block;
  margin-left: 30px;
  color: #424242;
}

.button__cont .button__cont-box > ul > li:last-child {
  margin-top: 20px;
}

.button__cont .button__cont-box > ul > li > p {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #424242;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 2;
}

.header__box {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.header__left > h1 {
  width: 150px;
  padding: 24.5px 0;
}

.header__left > h1 > a {
  display: block;
  width: 125px;
  margin: 0 auto;
}

.header__left > h1 > a > img {
  width: 100%;
}

.header__right {
  position: absolute;
  top: 38px;
  right: 0;
}

.header__right > button {
  display: none;
}

.header__right .header__mobile > ul > li {
  display: inline-block;
  padding: 0 10px;
}

.header__right .header__mobile > ul > li > a {
  color: #424242;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}

.header__right .header__mobile > ul > li > a:hover {
  border-bottom: 1px solid #666;
}

.header__right .header__mobile > dl {
  display: none;
}

.footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-color: #23293b;
}

.footer > ul > li {
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
  font-size: 14px;
}

@media (max-width: 767px) {
  .header {
    height: 5rem;
    background-color: unset;
  }

  .header__left > h1 {
    width: 11rem;
    padding: 1.1rem 0;
    background-color: unset;
  }

  .header__left > h1 > a {
    width: 9rem;
  }

  .header__right {
    top: 50%;
    right: 1.2rem;
    margin-top: -12px;
  }

  .header__right > button {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.8rem;
    border: 0.2rem solid #fff;
    border-right: 0;
    border-left: 0;
  }

  .header__right > button .button__line {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.6rem;
    height: 0.2rem;
    margin-top: -0.1rem;
    font-size: 0;
    background-color: #fff;
  }

  .header__right > button .button__line2 {
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.6rem;
    height: 0.2rem;
    margin-top: -0.1rem;
    font-size: 0;
    background-color: #fff;
  }

  .header__right .header__mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }

  .mobile__change1 {
    transform: rotate(318deg);
    z-index: 10;
  }

  .mobile__change2 {
    transform: rotate(45deg);
    z-index: 10;
  }

  .header__right .header__mobile > ul {
    margin: 2rem 3rem;
  }

  .header__right .header__mobile > ul > li {
    display: block;
    padding: 0;
    line-height: 1.5;
    letter-spacing: -0.1rem;
  }

  .header__right .header__mobile > ul > li > a {
    display: inline-block;
    font-size: 3.6rem;
    color: #63d1d1;
  }

  .header__right .header__mobile > dl {
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    color: #666;
    font-size: 1.45rem;
    line-height: 1.25;
    letter-spacing: -0.05rem;
    text-align: right;
  }

  .header__right .header__mobile > dl > dd:nth-of-type(1) {
    margin-bottom: 1.5rem;
  }

  .footer {
    padding: 2rem 0;
  }

  .footer > ul > li {
    font-size: 1.2rem;
  }

  .section__box h2 {
    font-size: 4rem;
  }

  .section__main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    background-position: 0% 50%;
  }

  .section__main .section__main-border {
    width: 80%;
    height: 28rem;
    margin: 0 auto;
    padding: 1.5rem;
  }

  .section__main .section__main-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .section__main .section__main-box > strong {
    width: 16rem;
  }

  .section__main .section__main-box > p {
    font-size: 1.05rem;
  }

  .section__main .section__main-box > ul {
    right: 1rem;
    bottom: 0.8rem;
  }

  .section__main .section__main-box > ul > li {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .section__intro {
    padding: 0;
  }

  .section__intro .section__box {
    background-color: #eee;
  }

  .section__intro .section__box h2 {
    position: absolute;
    top: -60px;
    color: #fff;
  }

  .section__intro .section__box .section__column:first-child {
    position: relative;
  }

  .section__intro .section__box .section__column:first-child:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(255, 255, 255, 0.21);
  }

  .section__intro .section__box .section__column:first-child > strong {
    display: none;
    font-size: 1.2rem;
  }

  .section__intro .section__box .section__column:last-child {
    width: 100%;
    padding: 3rem;
    background: none;
  }

  .section__intro .section__box .section__column > p {
    font-size: 1.5rem;
  }

  .section__img {
    margin: 0;
    padding: 3rem;
    background-position: 40% center;
  }

  .section__white > ul {
    margin-bottom: 0;
  }

  .section__white > ul > li {
    float: none;
    width: 100%;
    margin-top: 1.5rem;
  }

  .section__white > ul > li > em {
    font-size: 2rem;
  }

  .section__white > ul > li > p {
    font-size: 1.4rem;
  }

  .section__white > ul > li > p > span {
    display: inline-block;
  }

  .section__prdf {
    padding: 3rem;
  }

  .button__list,
  .button__cont {
    float: none;
    width: 100%;
  }

  .button__list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .section__prdf .section__box button {
    width: 31.3%;
    margin-top: 1rem;
    margin-left: 0;
  }

  .button__cont {
    margin-bottom: 0;
    padding: 1.5rem;
  }

  .button__cont .button__cont-img,
  .button__cont .button__cont-box {
    float: none;
    width: 100%;
  }

  .section__prdf .button__cont .button__cont-img {
    width: 100%;
  }

  .button__cont .button__cont-box > strong {
    margin: 3rem 0 1.5rem;
    text-align: center;
    font-size: 2rem;
  }

  .button__cont .button__cont-box > ul > li {
    font-size: 1.4rem;
  }
}
